<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCTour</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Text.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/css/themify-icons/themify-icons.css" />
</head>
<body>
    <header class="header">
        <nav class="nav-header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="contai container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tour App</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-a nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Thư Viện</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Next" asp-action="Index">Du Lịch</a>
                        </li>
                        <li class="nav-item">
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tours" asp-action="Index">Dữ Liệu</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (ViewContext.HttpContext.User.IsInRole("User"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tours" asp-action="Index">Dữ Liệu</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="login">Login</a>
                        </li>
                        <li class="nav-item">
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a class="nav-link text-dark" asp-action="logout" asp-controller="account">Đăng Xuất</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (ViewContext.HttpContext.User.IsInRole("User"))
                            {
                                <a class="nav-link text-dark" asp-action="logout" asp-controller="account">Đăng Xuất</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </nav>

    </header>
    <div class="container-body container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Tour App
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
