@{
    ViewData["Title"] = "Madia";
}
<div class="div-pri-title">
    <h2 class="text-center h2-pri">Thư Viện Ảnh</h2>
    <img class="img-pri" src="~/css/img/caurong.jpg" />
</div>
<div class="div-img-pri">
    <h2>KHOẢNH KHẮC LỮ HÀNH</h2>
    <img src="~/css/img/1.jpg" />
    <img src="~/css/img/2.jpg" />
    <img src="~/css/img/3.jpg" />
    <img src="~/css/img/4.jpg" />
    <img src="~/css/img/5.jpg" />
    <img src="~/css/img/6.jpg" />
</div>
<div class="div-img-pri">
    <h2>ĐIỂM ĐẾN HẤP DẪN</h2>
    <img src="~/css/img/7.jpg" />
    <img src="~/css/img/8.jpg" />
    <img src="~/css/img/9.jpg" />
    <img src="~/css/img/10.jpg" />
    <img src="~/css/img/11.jpg" />
    <img src="~/css/img/12.jpg" />
</div>
